@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #2c3e50;  /* Un albastru închis */
    --secondary-color: #e74c3c; /* Un roșu vibrant */
    --text-color: #ecf0f1; /* Un alb plăcut */
    --background-color: #34495e; /* Un gri-albăstrui */
    --hover-color: #3498db; /* Un albastru deschis pentru hover */
    --inactive-color: #bdc3c7; /* Gri pentru linkuri inactive */
    --transition-speed: 0.3s; /* Viteza tranziției */
}
html, body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family:'Poppins', 'Segoe UI', sans-serif;
    text-align: center;
}
header{
    margin-bottom: 40px;
    position: relative;
}

.navbar {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    position: fixed; /* Fix navbar-ul la partea superioară */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asigură-te că navbar-ul este deasupra altor elemente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .logo a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 1rem; /* Pentru a face loc hamburger-ului pe mobil */
}

.nav-links li a {
    color: var(--inactive-color); /* Gri deschis pentru linkuri inactive */
    text-decoration: none;
    font-size: 1rem;
    transition: color var(--transition-speed);
}

.nav-links li a:hover,
.nav-links li a:focus {
    color: var(--hover-color); /* Culoare evidențiată la hover */
}

.hamburger {
    
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-right: 1rem;
    z-index: 1000;
    display: none;
}

.nav-links.active {
    transform: translateX(0); /* Meniul ocupă întreaga lățime */
}


.hamburger span {
    height: 3px;
    width: 25px;
    background-color: var(--text-color);
    margin: 4px;
    margin-right: 20px;
    transition: all var(--transition-speed);
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    max-width: 400px;
}

#search-input {
    width: 100%;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
    text-align: center;
}

#search-input:focus {
    border-color: var(--hover-color); 
    box-shadow: 0 0 5px var(--hover-color);
}

#search-input::placeholder {
    color:var(--background-color);
}

section {
    background-color: var(--text-color);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition-speed) ease;
    text-align: left; /* Textul este aliniat la stânga pentru o citire ușoară */
    line-height: 1.6; /* Îmbunătățim lizibilitatea prin creșterea înălțimii liniei */
}

section:hover {
    background-color: var(--background-color); /* Fundalul se schimbă la hover */
}

/* Stiluri pentru titluri secțiuni */
section h2 {
    margin-bottom: 15px;
    color: var(--primary-color);
    border-bottom: 3px solid var(--secondary-color);
    padding-bottom: 10px;
    text-align: center; /* Titlurile sunt centrate */
}

/* Stiluri pentru containerul de știri */
.news-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
/* Stiluri pentru sursa de știri */
.news-source {
    color: var(--secondary-color);
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    padding-top: 10px;
    text-align: left;
}

.news-source::before {
    content: "Vezi tot articolul: ";
    font-weight: bold;
    display: block;
}

/* Stilizare specifică pentru link-urile care indică sursa */
.news-source a {
    color: var(--secondary-color);
    text-decoration: none;
    font-style: italic;
    transition: color var(--transition-speed) ease, text-decoration var(--transition-speed) ease;
}

.news-source a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

/* Stilul pentru fiecare element de știre */
.news-item {
    width: 100%;
    max-width: 100%; /* Asigură că elementul nu depășește lățimea ecranului */
    box-sizing: border-box; /* Include padding și border în lățimea totală */
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: var(--text-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.274);
    transition: transform var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: left;
    font-family:'Poppins', 'Segoe UI', sans-serif;
}

/* Asigură că imaginile se încadrează corect în container */
.news-item img {
    width: 100%; /* Imaginile să se întindă pe întreaga lățime a containerului */
    height: auto; /* Păstrează proporțiile imaginii */
    display: block; /* Elimină spațiile adiționale sub imagine */
}
.news-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.news-item h2 {
    font-size: 1.3em;
    color: var(--primary-color);
    margin-bottom: 10px;
    margin-top: 20px;
}

.news-item p {
    margin: 10px 0;
    text-align: left; /* Textul din paragrafe este aliniat la stânga */
    width: 90%;
    color: var(--primary-color);
}

.news-item .news-source {
    font-style: italic;
    color: var(--secondary-color); /* Sursa știrii în secondary-color */
    margin-bottom: 10px;
    text-align: center;
}

.news-item p {
    margin: 10px 0;
    text-align: start;
    width: 100%;
    justify-content: center;
    color: var(--primary-color); /* Text principal în primary-color */
}
/* Stilizare pentru link-urile din descrierea articolului */
.news-item p a {
    color: var(--link-color); /* Folosește o culoare distinctă pentru link-uri */
    font-weight: bold; /* Evidențiază link-urile prin îngroșare */
    text-decoration: underline; /* Sublinează link-urile pentru vizibilitate */
    transition: color var(--transition-speed) ease;
}

.news-item p a:hover {
    color: var(--hover-color); /* Schimbă culoarea la hover pentru un efect vizual */
    text-decoration: none; /* Elimină sublinierea la hover pentru un efect interactiv */
}

.news-image {
    width: 100%; /* Imaginea folosește întreaga lățime disponibilă */
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin-top: 10px;
    object-fit: cover; /* Menținem proporțiile imaginii */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   
}

.news-item img.news-image {
    display: block;
    width: 100%; /* Imaginile vor ocupa întreaga lățime a containerului */
    height: auto; /* Păstrează proporțiile corecte ale imaginii */
    border-radius: var(--border-radius); /* Aplică colțuri rotunjite dacă este cazul */
    margin: 10px 0; /* Adaugă spațiu între imagine și alte elemente */
    object-fit: cover; /* Asigură că imaginea se adaptează bine în container */
}

/* Stilizarea specifică pentru videoclipuri în cadrul știrilor */
.news-item video {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    border: 2px solid #ddd;
    padding: 5px;
    background-color: #f9f9f9;
    display: block;
    margin: 0 auto;
    object-fit: contain; /* Asigură-te că video-ul se redimensionează corect */
}

/* Asigurarea că videoclipul rămâne la max-width 100% când se dă play */
.news-item video:playing {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* Efect de hover pentru videoclipuri */
.news-item video:hover {
    border-color: #007bff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#loading-spinner {
    position: relative; /* Necesită pentru a poziționa ::before relativ la spinner */
    width: 60px;
    height: 60px;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #3498db;
    animation: spin 0.1s linear infinite, pulse 0.5s ease-in-out infinite;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#loading-spinner::before {
    content: "Încărcare"; /* Textul care va apărea în centrul spinner-ului */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: bold;
    color: #3498db; /* Poți schimba culoarea textului dacă vrei */
    text-align: center;
    z-index: 1; /* Asigură că textul este deasupra spinner-ului */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
#about-gorj {
    line-height: 1.6;
    color: #333;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
#about-gorj:hover{
    color: var(--text-color);
}

#about-gorj h3, #about-gorj h4 {
    color: #2a2a2a;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

#about-gorj p {
    margin-bottom: 15px;
}

#about-gorj strong {
    color: var(--hover-color);
    text-shadow: 0px 1px black;
}

#about-gorj ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}

#about-gorj ul li {
    margin-bottom: 10px;
}

#about-gorj h3 {
    font-size: 1.5em;
    margin-top: 30px;
}

#about-gorj h4 {
    font-size: 1.2em;
    margin-top: 20px;
}

#about-gorj p strong {
    font-size: 1.2em;
}

#about-gorj p:last-of-type {
    font-style: italic;
    font-weight: normal;
}
.article-about-gorj{
    background-color: var(--text-color);
    color: #000;
}
.title-gorj{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
}
.title-gorj img{
    width: 100px;
}
.orasele-gorj ul, .comunele-gorj ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 14px;
}

.orasele-gorj ul li, .comunele-gorj ul li {
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.orasele-gorj ul li a, .comunele-gorj ul li a {
    text-decoration: none;
    color: #333;
}

.orasele-gorj ul li a:hover, .comunele-gorj ul li a:hover {
    color: #007bff;
}

@media (max-width: 768px) {
    .orasele-gorj ul, .comunele-gorj ul {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}

@media (max-width: 480px) {
    .orasele-gorj ul, .comunele-gorj ul {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        font-size: 12px;
    }
}

#map-container {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #f0f0f0; /* Optional: a background color while loading */
    margin: 20px; /* Optional: space below the map */
}

#map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

mark {
    background-color: var(--primary-color); /* Poți schimba culoarea în funcție de preferințe */
    color: rgb(255, 255, 255); /* Asigură-te că textul este vizibil */
}
/* Stil pentru lista de vreme */

#weather-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 coloane egale */
    gap:3px; /* Spațiu între elemente */
    list-style: none;
    padding: 0;
    max-height: 100vh; /* Înălțime maximă a listei */
    overflow-y: auto; /* Scroll vertical dacă lista este prea lungă */
    color: var(--primary-color);
}

/* Stil pentru fiecare element din listă */
#weather-list li {
    display: flex;
    align-items: center;
    padding: 3px;
    border: 1px solid #ddd; /* Linie subtire pentru fiecare element */
    border-radius: 4px; /* Colțuri rotunjite */
    background-color: #f9f9f9; /* Fundal deschis pentru elemente */
    font-size: 14px; /* Dimensiunea fontului */
}

/* Stil pentru iconițele vremii */
.weather-icon {
    margin-right: 8px; /* Spațiu între iconițe și text */
    font-size: 20px; /* Dimensiunea iconițelor */
}

/* Stil pentru numele orașelor */
.city-name {
    font-weight: bold;
    flex: 1; /* Permite textului să se extindă */
}

/* Stil pentru temperatura */
.temperature {
    color: #555;
}

/* Stil pentru loader */
#loader {
    display: none;
    font-size: 16px; /* Dimensiunea fontului pentru loader */
    margin-bottom: 10px;
}

/* Responsive design pentru ecrane mici */
@media (max-width: 1200px) {
    #weather-list {
        grid-template-columns: repeat(4, 1fr); /* 4 coloane pe ecrane mai mici */
    }
}

@media (max-width: 900px) {
    #weather-list {
        grid-template-columns: repeat(3, 1fr); /* 3 coloane pe ecrane și mai mici */
    }
}

@media (max-width: 600px) {
    #weather-list {
        grid-template-columns: repeat(2, 1fr); /* 2 coloane pe ecrane mici */
    }
}

@media (max-width: 400px) {
    #weather-list {
        grid-template-columns: 1fr; /* 1 coloană pe ecrane foarte mici */
    }
}


/* Buton de distribuire pe Facebook */

.share-button {
    margin-top: 10px;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color var(--transition-speed) ease;
}

.share-button:hover {
    background-color: var(--hover-color);
}

/* Stilizare pentru iconița Facebook */
.share-button .fa-facebook {
    margin-right: 8px; /* Spațiu între iconiță și text */
    font-size: 18px;
}


/* Responsivitate pentru ecrane mai mici */
@media (max-width: 600px) {
    .share-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}




/* Mobile Responsive */
@media (max-width: 768px) {
    body {
        padding-top: 60px; /* Pentru a evita ca conținutul să fie acoperit de navbar */
        
    }
    header{
        max-width: 100%;
    }
    .navbar{
        justify-content: space-between;
    }
    .nav-links {
        position: fixed;
        right: 0;
        height: 100vh;
        top: 0;
        width: 35%; 
        flex-direction: column;
        align-items: flex-end; /* Aliniere la stânga */
        justify-content: center;
        background-color: var(--primary-color);
        transform: translateX(100%);
        transition: transform var(--transition-speed) ease-in;
        z-index: 999; /* Sub navbar dar deasupra altor conținuturi */
        padding: 20px; /* Elimină orice padding suplimentar */
        margin: 0; /* Elimină orice margine suplimentară */
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Adaugă o umbră pentru un efect 3D */
        overflow-y: auto; /* Permite scroll-ul vertical dacă meniul este prea lung */
    }
    .nav-links a {
        color: white;
        text-transform: uppercase;
        font-size: 18px; /* Dimensiunea fontului pentru text */
        padding: 15px 0; /* Spațiu între linkuri */
        text-align: left; /* Alinierea textului la stânga */
        min-width: 100%; /* Ocupă întreaga lățime pentru a se alinia perfect */
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Linie sub fiecare link */
        transition: background-color 0.3s ease, padding-left 0.3s ease;
    }
    
    .nav-links a:hover {
        background-color: rgba(255, 255, 255, 0.1); /* Efect de hover */
        padding-left: 20px; /* Mic efect de "slide" la hover */
    }
    
    .nav-links.active {
        transform: translateX(0); /* Aduce meniul în vizor */
    }

    .hamburger {
        display: flex; /* Asigură-te că meniul hamburger este vizibil */
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
    .search-container {
        max-width: 200px;
    }
    
    #search-input {
        width: 100px;
        padding: 3px 5px;
        font-size: 16px;

    }
    .news-item h2{
        font-style: italic;
        text-shadow: 0 1px 2px rgb(197, 197, 197);
    }
    .news-item p{
        width: 98%;
        justify-content: center;
        align-items: center;
        margin-left: 50%;
        transform: translate(-50%);
    }
}